body{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
img{
    width: 500px;
    height: auto;
}
h5{
    font-size: large;
    font-weight: 600;
}
h1 {
    margin: 0 auto;
    width: fit-content;
}
#recipes {
    box-sizing: border-box;
    text-align: center;
}